@import "../../styles";

.MemberListElement {
  padding: 8px;
  background-color: $member-list-element-background;
  border-radius: 3px;
  margin-top: 2px;
  margin-bottom: 2px;

  .member-content {
    display: flex;
    flex-direction: column;
    width: 100%;

    .member-header {
      display: flex;
      justify-content: space-between;
      width: 100%;
      align-items: center;

      .member-name-and-button {
        display: flex;
        align-items: center;

        .name-text {
          font-size: 30px;
        }

        .button-container {
          padding-left: 16px;
          width: 32px;
        }
      }
    }
  }

}
