.MemberListElement {

  .memberHeader {
    display: flex;
    align-items: center;

    .name-text {
      font-size: 30px;
    }

    .button-container {
      padding-left: 16px;
      width: 32px;
    }
  }

}
