@import "colors";

@mixin button($button-color, $button-shadow-color, $font-size: 24px) {
  font-size: $font-size;
  font-weight: bold;
  border-radius: 5px;
  width: 100%;
  text-decoration: none;
  color: $button-text-color;
  background-color: $button-color;
  border-style: none;
  padding: 2px;
}

.confirm-button {
  @include button($confirm-color, $confirm-color-shade);
}

.button {
  @include button($brand-color, $brand-color-shade);
}

.button-small {
  @include button($brand-color, $brand-color-shade, 18px)
}
