$background-color: white;

$brand-color: #f1c40f;
$brand-color-shade: #d8af0a;

$confirm-color: #2ecc71;
$confirm-color-shade: #25a85b;

$font-color: #34495e;
$money-color: #16a085;
$button-text-color: white;
